<form (ngSubmit)="addCourse()">
  <div>
    <input id="name" title="name" placeholder="Name" name="name" [(ngModel)]="name">
  </div>
  <div>
    <input id="Academic institution" title="Academic institution" name="academicInstitution" placeholder="Academic institution" [(ngModel)]="academicInstitution">
  </div>
  <div>
    <select id="instructor" name="instructor" [(ngModel)]="formInstructors" >
      <option *ngFor="let instructor of instructors" value="{{instructor.id}}">{{instructor.attributes.name}}</option>
    </select>
  </div>
  <div>
    <select id="student" name="student" multiple [(ngModel)]="formStudents">
      <option *ngFor="let student of students" value="{{student.id}}">{{student.attributes.name}}</option>
    </select>
  </div>
  <button type="submit">Submit</button>
</form>
