<form (ngSubmit)="addInstructor()">
  <div>
    <input id="name" title="name" name="name" placeholder="name" [(ngModel)]="name">
  </div>
  <div>
    <input id="firstName" title="First Name" name="firstName" placeholder="First Name" [(ngModel)]="firstName">
  </div>
  <div>
    <select id="academicRank" title="Academic Rank" name="academicRank" [(ngModel)]="academicRank">
      <option value="rank_0" selected>Visting Professor</option>
      <option value="rank_1">Assistant Lecturer</option>
      <option value="rank_2">Senior Assistant Lecturer</option>
      <option value="rank_3">Lecturer</option>
      <option value="rank_4">Senior Lecturer</option>
    </select>
  </div>
  <div>
    <select id="academicTitle" title="Academic Title" name="academicTitle" [(ngModel)]="academicTitle">
      <option value="title_5-0">A.D.</option>
      <option value="title_6-0">B.</option>
      <option value="title_6-1">B.A</option>
      <option value="title_6-2">B.Sc.</option>
      <option value="title_7-0">M.</option>
      <option value="title_7-1">M.A.</option>
      <option value="title_7-2">m.Sc.</option>
      <option value="title_8-0">Ph.D.</option>
    </select>
  </div>

  <button type="submit">Submit</button>
</form>
